In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import datetime

In [13]:
df = pd.read_excel('6118149_HUUZVQQT.xlsx', sheet_name=1)
df.head()

,Дата,"Drivers, total","Drivers, core","Orders, total","Orders, core","Drivers, returned","Drivers, core, returned"
0,2017-05-01,1637,290,44833,22010,1283,280
1,2017-05-08,1601,339,47960,25768,1288,331
2,2017-05-15,1570,356,48923,27962,1261,341
3,2017-05-22,1565,372,49689,29863,1270,367
4,2017-05-29,1598,398,53222,33292,1252,385

In [12]:
df[df['Дата'] == '2017-07-10']['Drivers, core']/df[df['Дата'] == '2017-07-10']['Drivers, total']

10    0.311005
dtype: float64

In [14]:
df['perc_core'] = df['Orders, core']/df['Orders, total']
df['perc_core'].max()

0.7188525172193425

In [19]:
(df[df['Дата'] == '2017-08-28']['Orders, total']-df[df['Дата'] == '2017-08-28']['Orders, core']) / df[df['Дата'] == '2017-08-28']['Drivers, total']

17    14.156432
dtype: float64

In [28]:
df['доля'] = df['Drivers, returned']/df['Drivers, total']
df[df['доля'] == df['доля'].min()]

,Дата,"Drivers, total","Drivers, core","Orders, total","Orders, core","Drivers, returned","Drivers, core, returned",perc_core,доля
36,2018-01-08,3669,837,114994,67204,2725,793,0.584413,0.742709