# Экзамен по курсу "Аналитика данных на Python"

Этот тест проверит Ваши навыки работы с таблицами данных с помощью библиотек pandas и numpy. Задания делятся на простые (⭐️), средние (⭐️⭐️) и сложные (⭐️⭐️⭐️). Решение простых заданий, как правило, требует одной-двух операций с таблицами, тогда как для более сложных может потребоваться несколько последовательных преобразований данных.

##  Предыстория

Сегодня Ваш первый день работы в крупном интернет-магазине, который продаёт товары с доставкой по всему миру. Ваша первая задача – проанализировать базу данных покупок, совершённых в магазине за последние несколько лет. База содержит информацию об отдельных транзакциях, про каждую из которых известны номер инвойса (InvoiceNo), дата инвойса(InvoiceDate), код товара (StockCode), описание товара(Description), количество товара в транзакции (Quantity), стоимость единицы товара (UnitPrice), код покупателя (CustomerID), страна покупателя (Country).

База выгружена для Вас в формате CSV: файл [```online-retail.csv```](https://drive.google.com/file/d/1O1oJtpEu-u6s6xTu7seQfnNcQjYCt0GF/view?usp=sharing)

In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

## ⭐️ Вопрос 1

Загрузите данные из файла online-retail.csv в переменную типа pandas DataFrame

Подсказка: Используйте функцию из библиотеки pandas

Какой символ-разделитель используется в этом файле?

* Запятая ","
* Двоеточие ":"
* Точка с запятой ";"
* Символ табуляции "tab"

#### Решение

In [2]:
df = pd.read_csv('online-retail.csv', sep=';')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581588,22380,TOY TIDY SPACEBOY,9,2011-12-09 12:52:00,2.10,12594.0,Italy
541910,581588,22381,TOY TIDY PINK POLKADOT,9,2011-12-09 12:52:00,2.10,12594.0,Italy

#### Ответ: в этом файле в качестве символа-разделителя используется ';'

## ⭐️ Вопрос 2

Сколько строк в полученной таблице (не считая заголовков столбцов)?

#### Решение

In [3]:
rows_count = len(df.index)
rows_count

541911

## ⭐️ Вопрос 3

Сколько столбцов в полученной таблице (не считая индекса)?

#### Решение

In [4]:
columns_count = len(df.columns)
columns_count

8

## ⭐️ Вопрос 4

Как называется столбец с самым коротким названием?

#### Решение

In [5]:
df.columns.min()

'Country'

## ⭐️ Вопрос 5

В скольких столбцах встречаются пропущенные значения? (ответ - целое число)

#### Решение

In [6]:
df.count().loc[df.count()<rows_count].count()

2

## ⭐️ Вопрос 6

Сколько пропущенных значений в столбце CustomerID? (ответ - целое число)

#### Решение

In [7]:
rows_count - df.count()['CustomerID']

135080

## ⭐️⭐️ Вопрос 7

Посмотрим, данные за какой исторический период у нас есть. 

Данные за какой самый ранний и за какой самый поздний годы содержатся в датасете? В ответе укажите два целых числа через запятую.

#### Решение

In [8]:
years = [df['InvoiceDate'].min()[0:4], df['InvoiceDate'].max()[0:4]]
print(', '.join(years))

2010, 2011

## ⭐️ Вопрос 8

Каковы минимальная и максимальная цена товаров (UnitPrice)? Перечислите через запятую. Цена в этом задании может принимать отрицательные значения.

#### Решение

In [9]:
unit_prices = [str(df['UnitPrice'].min()), str(df['UnitPrice'].max())]
print(', '.join(unit_prices))

-11062.06, 38970.0

## ⭐️ Вопрос 9

В таблице оказались товары с отрицательными ценами! Это явно какая-то ошибка. Какое описание (Description) у таких транзакций? Перечислите все варианты через запятую, отсортировав строки по алфавиту.

#### Решение

In [10]:
wrong_prices = np.sort(df['Description'].loc[df['UnitPrice']<0].unique())
print(', '.join(wrong_prices))

Adjust bad debt

## ⭐️ Вопрос 10

Поищем ещё возможные проблемы с данными. Как насчёт товаров с нулевыми ценами? 

Сколько в таблице транзакций с нулевой ценой? А с пропусками на месте цены? 

Перечислите два целых числа через запятую.

#### Решение

In [11]:
zero_and_None = [str(df['UnitPrice'].loc[df['UnitPrice'] == 0].count()) ,str(rows_count - df.count()['UnitPrice'])]
print(', '.join(zero_and_None))

2515, 0

## ⭐️⭐️ Вопрос 11

Для дальнейшего анализа поведения покупателей нам понадобится набор данных, в которых у каждой транзакции корректно указана цена, количество единиц товара (Quantity) и id покупателя (CustomerID). Удалите из таблицы все строки, в которых цена не превосходит 0 или пропущена, или количество единиц товара не превосходит 0 или пропущено, или в которых пропущен id покупателя. 

Сколько строк осталось?

#### Решение

In [12]:
clear_df = df.drop(df.index[(df['UnitPrice'] <= 0) |\
                            (df['Quantity'] <= 0)].tolist())
clear_df = clear_df.dropna().reset_index(drop=True)
len(clear_df.index)

397886

## Внимание! 

### Везде далее мы работаем с очищенной таблицей, полученной в Вопросе 11.

## ⭐️⭐️ Вопрос 12

В таблице для каждой транзакции указаны цена за единицу товара (UnitPrice) и количество единиц товара (Quantity). Вычислите для каждой транзакции её **полную стоимость** и сохраните в новом столбце Price, который добавьте в таблицу. 

Каковы минимальная и максимальная полная стоимость транзакций? Перечислите через запятую, округлив до целых чисел.

#### Решение

In [13]:
clear_df['Price'] = clear_df['UnitPrice'] * clear_df['Quantity']
prices = [str(clear_df['Price'].min()//1), str(clear_df['Price'].max()//1)]
print(', '.join(prices))

0.0, 168469.0

## ⭐️⭐️ Вопрос 13

В нашей базе данных каждая покупка представлена одной или несколькими транзакциями. Покупка однозначно определяется своим номером инвойса (InvoiceNo). Транзакции, относящиеся к одной покупке, имеют один и тот же InvoiceNo. 

Стоимость всей покупки равна сумме полных стоимостей транзакций, входящих в неё. Найдите стоимости трёх самых дорогих покупок. Перечислите через запятую в порядке убывания, округлив до целых чисел.

#### Решение

In [14]:
top_invoices = clear_df.groupby(['InvoiceNo'])['Price'].sum().sort_values(ascending=False).head(3)
res = []
for i in top_invoices.values:
    res.append(str(i//1))
print(', '.join(res))

168469.0, 77183.0, 38970.0

## ⭐️⭐️ Вопрос 14

Какой товар составил наибольшую выручку? В ответе укажите описание товара (дословно строку из соответствующего поля в столбце Description).

#### Решение

In [15]:
top_proceeds = clear_df.groupby(['StockCode'])['Price'].sum().sort_values(ascending=False).index[0]
print(', '.join(clear_df[clear_df['StockCode'] == top_proceeds]['Description'].values))

PAPER CRAFT , LITTLE BIRDIE

## ⭐️⭐️ Вопрос 15

Создайте новую таблицу purchases, в которой каждая строка будет соответствовать отдельной покупке, со столбцами 
InvoiceNo, InvoiceDate, Price, CustomerID, Country.

Поскольку дата InvoiceDate может быть отличаться для разных транзакций внутри одной покупки, при группировке возьмите самую раннюю из дат. Также отсортируйте её по датам по возрастанию.

Учтите, что InvoiceDate — не уникальное поле, данные стоит дополнительно отсортировать по InvoiceNo, перед тем как брать первое значение группы.

Сколько получилось строк?

#### Решение

In [31]:
purchases = pd.DataFrame()
purchases['InvoiceNo'] = clear_df['InvoiceNo'].unique()

purchases['InvoiceDate'] = clear_df.groupby(['InvoiceNo'])['InvoiceDate'].min().values
purchases = purchases.sort_values(by=['InvoiceDate', 'InvoiceNo'],ascending=True)

purchases['Price'] = clear_df.groupby(['InvoiceNo'])['Price'].sum().values

purchases['CustomerID'] = clear_df.groupby(['InvoiceNo'])['CustomerID'].unique().values
purchases['CustomerID'] = purchases['CustomerID'].str[0]

purchases['Country'] = clear_df.groupby(['InvoiceNo'])['Country'].unique().values
purchases['Country'] = purchases['Country'].str[0]

len(purchases.index)

18533

## ⭐️⭐️ Вопрос 16

Исследуем, растут или убывают покупки наших клиентов после их первой покупки на сайте. Найдите среднюю цену первых покупок клиентов: для каждого клиента возьмите его первую покупку и усредните эти значения. Найдите среднюю цену покупок в целом. Округлите эти числа до целых и перечислите в этом порядке через запятую.

\* При равных TimeStamp по покупкам первой считается покупка с меньшим InvoiceNo.

#### Решение

In [17]:
test = purchases.sort_values(by=['CustomerID', 'InvoiceDate'])
#type(purchases.groupby(['CustomerID'], sort=False)['InvoiceDate'].min())
#purchases.sort_values(by='CustomerID')
test
for

      InvoiceNo          InvoiceDate     Price  CustomerID         Country
1909     541431  2011-01-18 10:01:00  77183.60     12346.0  United Kingdom
548      537626  2010-12-07 14:57:00    711.79     12347.0         Iceland
2205     542237  2011-01-26 14:30:00    475.39     12347.0         Iceland
4941     549222  2011-04-07 10:43:00    636.25     12347.0         Iceland
7843     556201  2011-06-09 13:01:00    382.52     12347.0         Iceland
...         ...                  ...       ...         ...             ...
17705    579673  2011-11-30 12:59:00    223.61     18283.0  United Kingdom
18203    580872  2011-12-06 12:02:00    208.00     18283.0  United Kingdom
6973     554065  2011-05-22 10:39:00    765.28     18287.0  United Kingdom
13857    570715  2011-10-12 10:23:00   1001.32     18287.0  United Kingdom
14886    573167  2011-10-28 09:29:00     70.68     18287.0  United Kingdom

[18533 rows x 5 columns]

## ⭐️⭐️⭐️ Вопрос 17

В какой день недели было наибольшее число покупок? В ответе укажите русское название дня недели, начинающееся с заглавной буквы.


Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите день недели, в который она была совершена. Сохраните в новый столбец.
* Сгруппируйте таблицу по дням недели.

#### Решение

In [70]:
#import sys
#!{sys.executable} -m pip install googletrans
from googletrans import Translator

purchases['InvoiceDate'] = pd.to_datetime(purchases['InvoiceDate'])
purchases['DayOfWeek'] = purchases['InvoiceDate'].dt.day_name()

prices_by_days = purchases.groupby(['DayOfWeek'])['Price'].count().values
table = purchases.groupby(['DayOfWeek'])['Price'].count().index

translator = Translator()
result = translator.translate('Cat')
#np.argmax(prices_by_days)
#type(table[np.argmax(prices_by_days)])

AttributeError: 'NoneType' object has no attribute 'group'

## ⭐️⭐️⭐️ Вопрос 18

В какой год и месяц выручка была максимальной?

Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите год и месяц, в которые она была совершена. Сохраните в новые столбцы.
* Сгруппируйте таблицу по новым столбцам

В ответе укажите два целых числа через запятую: год, месяц

#### Решение

## ⭐️⭐️⭐️ Вопрос 19

Магазин продаёт товары покупателям из разных стран (Country). В какой стране был наибольший процентный рост месячных продаж, если сравнить март 2011 и сентябрь 2011? Сколько процентов составил этот рост? В расчёт брать только страны, в которых были ненулевые продажи в обоих этих месяцах. В ответе укажите через запятую название страны и целое число (процентный рост, округлённый до целого числа).

#### Решение

## ⭐️⭐️⭐️ Вопрос 20

Большинство клиентов все свои покупки делают из одной и той же страны. Выясним, однако, насколько велика доля путешественников среди клиентов. 
Сколько клиентов сделали покупки по крайней мере из двух разных стран? (ответ - целое число)

#### Решение

## ⭐️⭐️⭐️ Вопрос 21

Мы запускаем в Италии рекомендательную систему "С этим товаром часто покупают...", и для этого хотим узнать, какие различные товары чаще всего встречаются в одной покупке из этой страны. Определите, какая пара различных товаров чаще всего встречается в различных покупках с ```Country=='Italy'```, и в скольких покупках это происходит. Одинаковые товары или нет, проверяйте по равенству поля Description. 

(ответ: название (Description) первого товара, название (Description) второго товара, целое число)

#### Решение